{% extends "jurycore/base.html" %}

{% block header_title %}Committee List{% endblock %}
{% block header_custom %}{% endblock %}


{% block content %}
    <div class="container">
        {% include "jurycore/_print_notice.html" %}
    </div>

    <div class="container-fluid">
        <div class="text-center" style="margin-top: 18em">
            <h1 style="font-size: 7em;">Jury Booklet</h1>
            <h2 style="font-size: 5em;">{{ booklet.session_name }}</h2>
            <p style="font-size: 2em; margin-top: 8em;">Proudly made with jurymatic</p>
        </div>
        <div class="page-break"></div>


        {% include "jurycore/help/_legend_content.html" %}
        <div class="page-break"></div>


        {% for committee in committees %}
            <h1>{{ committee.name }}</h1>

            {% for delegate in committee.delegate_set.all %}
                {% if delegate.booklet == booklet %}
                    {# The above check ensures, that incorrectly created delegates won't show up to people who are not allowed to see them #}
                    {% include "jurycore/_delegate_row.html" %}
                {% endif %}
            {% endfor %}

            <div class="page-break"></div>

        {% endfor %}


        <h1>Back cover</h1>
        <p>This jury booklet was made with jurymatic. Make your own at jurymatic.wolfskaempf.de</p>
        <p>
            jurymatic is <span class="octicon octicon-code"></span> with <span class="octicon octicon-heart"></span> by
            @wolfskaempf
        </p>

    </div>
{% endblock %}
