{% extends "jurycore/base.html" %}

{% block header_title %}Committee List{% endblock %}
{% block header_custom %}{% endblock %}



{% block content %}
    <div class="container">
        <h1>{{ booklet.session_name }}</h1>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with actions">
            <div class="btn-group mr-2" role="group" aria-label="Booklet actions">
                <a class="btn btn-default" href="{% url 'jurycore:booklet_show' booklet.slug %}">Go back</a>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Committee creation actions">
                <a class="btn btn-success" href="{% url 'jurycore:committee_create' booklet.slug %}">Create
                    committee</a>
            </div>
        </div>
        <h2>Committees</h2>

        {% if committees %}
            {% for committee in committees %}
                <ul>
                    <li>
                        <a href="{% url 'jurycore:committee_show' booklet.slug committee.uuid %}">{{ committee.name }}</a>
                        <div class="btn-group btn-group-xs">
                            <a href="{% url 'jurycore:committee_show' booklet.slug committee.uuid %}" class="btn btn-xs btn-primary">Printing view</a>
                            <a href="{% url 'jurycore:committee_update' booklet.slug committee.uuid %}" class="btn btn-xs btn-info">Rename</a>
                            <a href="{% url 'jurycore:committee_delete' booklet.slug committee.uuid %}" class="btn btn-xs btn-danger">Delete</a>
                        </div>
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <p>
                You have not added any committees yet.
            </p>
        {% endif %}

    </div>
{% endblock %}
