{% load widget_tweaks %}

<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        {{ form.name.label_tag }}
        {{ form.name.errors }}
        {{ form.name|add_class:"form-control"|attr:"autofocus" }}
    </div>
    <div class="form-group">
        {{ form.photo.label_tag }}
        {{ form.photo.errors }}
        {{ form.photo }}
        <p class="help-block" id="photo-help-block-delegates" style="display: none">Please select a photo in which your face is clearly visible and in the center of the
            picture. You should not be wearing sunglasses.</p>
        <p class="help-block visible-xs">If you are on your phone, you can select "Camera" to directly upload a
            photo you have taken.</p>

    </div>
    <div class="form-group">
        {{ form.committee.label_tag }}
        {{ form.committee.errors }}
        {{ form.committee|add_class:"form-control" }}
        {% if request.user.is_authenticated %}
            <p class="help-block" id="committee-help-block">You can add additional committees in the <a
                    href="{% url 'jurycore:committee_list' booklet.slug %}">management area.</a></p>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.delegation.label_tag }}
        {{ form.delegation.errors }}
        {{ form.delegation|add_class:"form-control" }}
        {% if request.user.is_authenticated %}
            <p class="help-block" id="delegation-help-block">You can add additional delegations in the <a
                    href="{% url 'jurycore:delegation_list' booklet.slug %}">management area.</a></p>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.remarks.label_tag }}
        {{ form.remarks.errors }}
        {{ form.remarks|add_class:"form-control"|attr:"placeholder:Optional"|attr:"rows:2" }}
    </div>
    <button type="submit" class="btn btn-primary" id="create-delegate-button">Create Delegate</button>
</form>