{% extends "jurycore/base.html" %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Register to {{ booklet.session_name }}</h1>
        <p>Dear participant, please register below to be added to {{ booklet.session_name }}. Thank you!</p>
        {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% include "jurycore/delegates/_delegate_create_form.html" %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block custom_js %}
    <script type="application/javascript">
        // language=JQuery-CSS
        $("#create-delegate-button").text("Register");
        $("[for='id_remarks']").text("Additional information for the jury:");
        $("[for='id_name']").text("Full Name:");
        $("#photo-help-block-delegates").show();
        $("#committee-help-block").hide();
        $("#delegation-help-block").hide();
    </script>
{% endblock %}