{% extends "jurycore/base.html" %}

{% block header_title %}Create Delegate{% endblock %}
{% block header_custom %}{% endblock %}



{% block content %}
    <div class="container">
        <h1>Create delegate</h1>
        <div class="btn-group" style="margin-bottom: 1em">
            <a class="btn btn-default" href="{% url 'jurycore:delegate_list' booklet.slug %}">Go back</a>
        </div>
        {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% include "jurycore/delegates/_delegate_create_form.html" %}
    </div>

{% endblock %}
