{% extends "jurycore/base.html" %}

{% block header_title %}Dashboard{% endblock %}
{% block header_custom %}{% endblock %}


{% block content %}
    <div class="container">
        {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <h1>{{ user.username }}'s jurymatic</h1>
        <div class="btn-group" role="group" aria-label="Actions">
            <a href="{% url 'jurycore:booklet_create' %}"><button type="button" class="btn btn-primary">New booklet</button></a>
        </div>
        <h2>Your booklets</h2>
        {% if booklets %}
            {% for booklet in booklets %}
                <ul>
                    <li><a href="{% url 'jurycore:booklet_show' booklet.slug %}">{{ booklet.session_name }}</a></li>
                </ul>
            {% endfor %}
        {% else %}
            <p>
                You have not created any booklets yet.
            </p>
        {% endif %}
    </div>

{% endblock %}
