{% extends "jurycore/base.html" %}

{% block header_title %}Home{% endblock %}
{% block header_custom %}{% endblock %}


{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h1>Hello, my name is jurymatic!</h1>
                <p>
                    I will help you create a jury booklet for your session with no effort required.
                </p>
                <p>
                <div class="btn-group-lg">
                    <a href="{% url 'jurycore:sign_up' %}"
                       class="btn btn-success btn-lg">Create your account</a>
                </div>
                </p>
            </div>
        </div>
        <div>
            <h1>How to use jurymatic</h1>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item img-rounded" style="background-color:#eee"
                        src="https://www.youtube.com/embed/videoseries?list=PLWqZWxSNRmk83SRJ2hx3tqCu2GrglyhFW"
                        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}
