{% extends "jurycore/base.html" %}

{% block header_title %}Home{% endblock %}
{% block header_custom %}{% endblock %}


{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Hello, my name is jurymatic!</h1>
    <p>
      I will help you create a jury booklet for your session with no effort required.
    </p>
    <p>
      <div class="btn-group-lg">
        <a href="#" class="btn btn-primary btn-lg">How to be efficient</a>
        <a href="{% url 'jurycore:printing_view' %}" class="btn btn-default btn-lg">Printing View</a>
        <a href="/admin/" class="btn btn-default btn-lg">Admin Area</a>
      </div>
    </p>
  </div>
  <h1>Committees</h1>

  {% for committee in committees %}
  <ul>
    <li><a href="{% url 'jurycore:committee_show' committee.pk %}">{{ committee.name }}</a></li>
  </ul>
  {% endfor %}

</div>
{% endblock %}

{% endblock %}
