.delegate-row {
  display: flex;
  justify-content: space-around;
  break-inside: avoid;
}

.delegation-color-box {
    color: white;
    padding: 5px;
    display: inline;
    border-radius: 2px;
}

@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}

.img-sm {
  height: 140px;
}

.credit {
  text-decoration: none;
  color: black;
  transition-duration: 200ms;
}

.credit:hover {
  text-decoration: none;
  color: grey;
  transition-duration: 200ms;
}
