{% extends "jurycore/base.html" %}

{% block header_title %}Internal Server Error{% endblock %}
{% block header_custom %}
    <!-- Sentry JS SDK 2.1.+ required -->
    <script src="https://cdn.ravenjs.com/3.15.0/raven.min.js"></script>

    {% if request.sentry.id %}
        <script>
            Raven.showReportDialog({
                eventId: '{{ request.sentry.id }}',

                // use the public DSN (dont include your secret!)
                dsn: 'https://39f5bb6a1ef642f7871f39de50c0331c@sentry.io/1247824'
            });
        </script>
    {% endif %}
{% endblock %}

{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <h1>500: Something is broken, but maybe you can help.</h1>
        <p>We're sorry, this should not have happened. Please fill out the form to help us understand why this happened.</p>
        <div class="btn-group">
            <a class="btn btn-default" href="{% url 'jurycore:home' %}">Go home</a>
        </div>
    </div>

{% endblock %}
